<div id="payee-list" hx-swap-oob="true" class="grid gap-2">
    {% for payee in payees %}
    <div
        class="flex items-center justify-between p-4 bg-white rounded-2xl border border-slate-50 group transition-all hover:border-emerald-100">
        <span class="text-sm font-bold text-slate-700">{{ payee.name }}</span>

        <button hx-delete="/delete-payee/{{ payee.id }}" hx-confirm="Remove this payee?" hx-swap="none"
            class="text-slate-300 hover:text-red-400 transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
        </button>


    </div>
    {% else %}
    <div class="text-center py-10 bg-slate-50 rounded-2xl border border-dashed border-slate-200">
        <p class="text-xs text-slate-400 italic font-medium">No payees registered.</p>
    </div>
    {% endfor %}
</div>